body {
    background-color: rgb(53, 6, 63);
    background-image: url(../img/hardlaunch.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(15px);
    font-family: "Oxanium", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Orbitron", sans-serif;
}

.hardlaunch-set {
    width: 100%;
}
a {
    text-decoration: none;
    color: lightgrey;
}
a:hover {
    color: whitesmoke;
}

.autoshow {
    animation: text-appear both;
    animation-timeline: view(75% 20%);  
    animation-range: entry 20% cover 100vh; 
}
@keyframes text-appear {
    from {
        opacity: 0;
        transform: translateY(80px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.image-reveal {
    animation: image-reveal both;
animation-timeline: view(85% 20%);
}
@keyframes image-reveal {
    from {
        filter: saturate(0) contrast(4) brightness(.1) blur(5px);
        opacity: 0;
        scale: .95;
        translate: 0 4rem;
    }
    to {
        filter: none;
        opacity: 1;
        scale: 1;
        translate: 0 0;
    }
}